/* header section */
* {
    margin: 0%;
    padding: 0%;
}

/* header related style */
* {
    margin: 0;
    padding: 0;

}

.container {
    background-image: url('../resources/Banner\ Image.png');

    width: 1320px;
    height: 620px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
    text-align: center;


}

.happy {
    color: #FFF;
    position: relative;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    left: 43%;
    top: 30%;

}

.new {
    color: #FFF;
    position: relative;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    left: 50px;
    top: 50px;
    transform: translate(20px, 35%);
}

/* main part style */

.offer-percente {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 120px;
}

.offer-deal {
    color: #F00;

    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 10px;
}

.catagories {
    color: #070211;

    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}




.new-year-img {
    display: flex;
    width: 802px;
    height: 500px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

}


.img-container {
    background-image: url('../resources/Vectorrr.png');
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

    width: 1320px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 5px;
}

.img-container h1 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 88px;

}

.img-container p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;


}

.img-container a {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.gradient-part {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 480px;
    justify-content: center;
    margin: auto;
    margin-top: 120px;
    border-radius: 16px;
}

.place {
    text-align: center;
    padding-top: 150px;

}

#place {
    color: #F00;
}

#all {
    padding-top: 150px;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

#join {
    background-color: #F00;
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 8px;
    margin-left: 610px;
    margin-top: 32px;
    border: none;
}

#join-now {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.main-content {
    width: 1320px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.left-text {
    padding-right: 80px;
}

.right-text {
    padding-left: 100px;
}

.new-offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.coming {
    color: #070211;

    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;

}

.dolor {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.date {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.sit {
    color: rgba(7, 2, 17, 0.60);

    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.circle {
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 3%;
}

.holiday-offer {
    text-align: center;
}

.holiday-offer h4 {
    color: #070211;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday {
    color: #F00;

    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-offersale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.holiday-offer p {
    color: rgba(7, 2, 17, 0.60);

    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}